docs/papers/*.pdf binary
docs/examples/**/*.json text eol=crlf
docs/examples/**/*.ndjson text eol=crlf
docs/examples/**/*.rctx text eol=lf
docs/examples/**/*.rplan text eol=lf
docs/examples/**/*.txt text eol=crlf
docs/examples/**/*.md text eol=crlf
docs/examples/**/*.lp text eol=crlf
docs/examples/rplan-*/**/*.json text eol=lf
